body{
    background-color: rgb(55, 0, 77);
    color:rgb(115, 82, 204)
    
}
h1{
    color: rgba(51, 175, 182, 0.932)
    
}
h2{
    color: rgb(190, 108, 0)
    
}
u{
    color: rgb(190, 108, 0)
}
strong{
    color: rgb(132, 0, 209)
   
}
h3{
    color: rgb(165, 114, 5)
}
