body{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(100deg, rgba(13, 26, 99, 0.788), #0c8dade3);
    color:rgb(207, 250, 250);
    display: flex;
    flex-direction: column;
    align-items:center;
}
label{
    
    border-radius: 12px;
    padding: 11px;
    text-align:center;
}
fieldset{
    margin: 5px;
    font-size: 20px;
    color: #002247;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:initial ;
}
details{
    background: rgb(48, 100, 168);
    border-radius: 7px;
    padding: 2px;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button{
    border-radius: 4px;
    padding: 3px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input{
    border-radius: 5px;
    padding: 4px;
    text-align:center;
}