body{
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(100deg, rgba(13, 26, 99, 0.788), #0c8dade3);
    color:rgb(207, 250, 250);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    text-align: center;
    padding: 30px;
}
header img{
    width: 255px;
    height: 290px;
    border-radius: 50%;
    border: 4px solid #030301;
}
header h1{
    margin: 15px 0 5px;
    font-size: 26px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
header p{
    margin: 5px;
    font-size: 20px;
    color: #000000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
}
main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    max-width: 400px;
}
.card{
    background: rgba(7, 87, 119, 0.541);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease;
}
.card:hover{
    transform: scale(1.10);
}
.card h2{
    margin-bottom: 10px;
}
.card a{
    display: inline-block;
    margin-top: 10px;
    padding: 10px 11px;
    background: #7899c4e1;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    color: #000000;
}
footer{
    margin: 30px 0px;
    font-size: 16px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration-color: #c178c4;
}

footer p{
    color: pink;
}
