body{
    background-color: rgb(128, 66, 185);
    color:rgb(56, 120, 218)
}
h1{
    /* ---NOME DA COR(menos utilizado--- */
    /* color: brown; */


    /* ---CÓDIGO HEX (mais utilizado--- */
    /* color: #ff5733; */
   
    /* CÓDIGO RGB (intensidade da cor: vermelho, verde, azul, opacidade*/
    color: rgba(212, 221, 82, 0.932)
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;


    /* font-size: 57px; */
    /* px (pixels) é uma unidade fixa. O tamanho sempre será o mesmo, independente do tamanho da tela */


    font-size: 2vw;
    font-weight: bold;
}
span{
    color: rgb(175, 151, 11);
    font-size: 86px;
    font-family: "Pacifico", cursive;
    font-family: "Ewert", serif;
    /* font-weight: bold; */
    font-weight: 200;
    /* Exemplo com níveis de peso (100 a 900)
    400= normal
    700= negrito
    900= super negrito */
}
